@import organisms/sobrehome
@import molecules/textos

header
	min-height: 400px

	background:
		image: url("../images/images2/Programaçãojpg.jpg")
		attachment: fixed
		position: 20% 150%
		min-height: 500px
		repeat: no-repeat
		size: cover
		color: $preto

