@import organisms/habilidades
@import molecules/textos

header
	min-height: 400px 

	background:
		image: url('../images/images2/Programacao2.jpg')
		position: 20% 150%
		attachment: fixed
		repeat: no-repeat
		size: cover
		color: $preto

 .botao
 	display: table
 	margin: 0px auto
 	clear: both